body {
  background-color: #eeeff5;
  color: #021628; }

#showcase h1,
#showcase p {
  color: #021628;
  text-shadow: 2px 2px 2px #418aa6; }

#showcase .navbar .navlink {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important; }

#showcase .navbar .nav-item.active {
  border-left: #444 3px solid; }

#showcase .carousel-inner p {
  margin-bottom: 175px; }

#showcase .carousel-item {
  height: 450px; }

#showcase .carousel-image-1 {
  background: url("../img/childglasses.jpg");
  background-size: cover; }

#showcase .carousel-image-2 {
  background: url("../img/girlglasses.jpeg");
  background-size: cover; }

#showcase .carousel-image-3 {
  background: url("../img/grandparents.jpeg");
  background-size: cover; }

@media (max-width: 768px) {
  #showcase h1,
  #showcase p {
    display: none; } }

#services {
  background-color: #1b5773;
  color: #eeeff5; }
  #services .card {
    width: 20rem; }

#eyeglass {
  color: #021628; }
  #eyeglass img {
    width: 200px;
    height: auto; }

#insurance {
  background-color: #418aa6;
  color: #eeeff5; }
  #insurance img {
    width: 100px;
    height: auto; }

#footer p {
  margin: 0px; }
