@import url("https://fonts.googleapis.com/css?family=Rubik|Roboto");
h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik"; }

p,
a {
  font-family: "Roboto"; }

body {
  background-color: #eeeff5;
  color: #021628; }

img {
  width: 100px;
  height: auto; }

#showcase h1,
#showcase p {
  color: #021628;
  text-shadow: 2px 2px 2px #418aa6; }

#showcase .navbar .navlink {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important; }

#showcase .navbar .nav-item.active {
  border-left: #444 3px solid; }

#showcase .carousel-inner p {
  margin-bottom: 175px; }

#showcase .carousel-item {
  height: 450px; }

#showcase .carousel-image-1 {
  background: url("../img/childglasses.jpg");
  background-size: cover; }

#showcase .carousel-image-2 {
  background: url("../img/girlglasses.jpeg");
  background-size: cover; }

#showcase .carousel-image-3 {
  background: url("../img/grandparents.jpeg");
  background-size: cover; }

@media (max-width: 768px) {
  #showcase h1,
  #showcase p {
    display: none; }
  #showcase #eyeglass img {
    width: 75px;
    height: auto; } }

#services {
  background-color: #052e42;
  color: #eeeff5; }
  #services .card {
    width: 20rem;
    color: #1b5773;
    margin: 0 auto;
    float: none;
    margin-top: 10px;
    margin-bottom: 10px; }

#eyeglass {
  background-color: #1b5773;
  color: #eeeff5; }
  #eyeglass h2 {
    margin-top: 20px; }
  #eyeglass img {
    width: 150px;
    height: auto; }

#insurance {
  background-color: #418aa6;
  color: #eeeff5; }
  #insurance h2 {
    margin-top: 20px;
    margin-bottom: 20px; }
  #insurance img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px; }

#footer p {
  margin: 0px; }
